html, body {
    width: 99.7%;
    height: 99.7%;
    padding: 0;
    margin: 0;
}

/* body{ */
    /* border: 5px solid red; */
/* } */

.outer-main-div {
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    border: 2px solid grey;
    /* flex-direction: ; */
}

.left{
    flex: 1;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
}

.left-up{
    height: 60px;
    margin: 20px;
    /* border: 2px solid grey; */
    background-color: lightgrey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-left-up{
    height: 40%;
    width: 85%;
    /* display: flex; */
    border: 2px solid grey;
    background-color: grey;

}

.left-down{
    height: 1200px;
    /* border: 2px solid blue; */
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.inside-left-down{
    height: 70px;
    width: 99%;
    /* display: flex; */
    /* border: 2px solid skyblue; */
    /* background-color: rgb(243, 247, 250); */
    display: flex;
    align-items: center;
    margin: 2px;
    
}

.inside-left-down:hover{
    background-color: rgb(243, 241, 240);
    
}

.left-down-content{
    height: 30%;
    width: 50%;
    /* border: 2px solid pink; */
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(238, 235, 230);
}

.selected{
    background-color: rgb(181, 180, 180);
}

.selected > .left-down-content{
    background-color: rgb(88, 88, 88);
}

.right{
    flex: 6;
    /* border: 2px solid red; */
}

.right-up{
    height: 80px;
    border-bottom: 2px solid grey;
    display: flex;
    align-items: center;
}

.inside-right-up{
    height: 30%;
    /* border: 1px solid pink; */
    background-color: grey;
    margin-left: 20px;
    width: 120px;
}

.right-down{
    height: 1100px;
    width: 60%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.inside-right-down{
    /* border: 1px solid pink; */
    margin: 20px;
    height: 200px;
}

.right-down-1, .right-down-2{
    display: flex;
    justify-content: space-between;
    /* border: grey; */
    border-bottom: 1px solid grey;
    /* margin-left: 10px; */
}

.right-down-1-1{
    /* border: 1px solid blue; */
    margin: 20px;
    flex: 1;
}

.right-down-1-2{
    /* border: 1px solid blue; */
    margin: 20px;
    flex: 1;
}

.right-down-1-2-1, .right-down-1-2-2{
    border: 1px solid lightgrey;
    background-color: lightgrey;
    height: 25%;
    margin: 20px;
    border-radius: 6px;
}

.right-down-1-1-1, .right-down-1-1-2, .right-down-1-1-3{
    
    height: 20%;
    margin: 10px;
}

.right-down-1-1-1{
    width: 40%;
    height: 15%;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: grey;
}

.right-down-1-1-2{
    height: 30%;
}

.right-down-1-1-2-1, .right-down-1-1-2-2{
    /* border: 1px solid green; */
    background-color: lightgrey;
    border-radius: 5px;
}

.right-down-1-1-2-1{
    width: 30%;
    margin-bottom: 8px;
    margin-top: 8px;

}

.right-down-1-1-2-2{
    width: 50%;
    height: 20%;
}

.right-down-1-1-3{
    height:30%;
}

.right-down-2-2{
    /* border: 1px solid grey; */
    margin: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.right-down-2-2-1, .right-down-2-2-2{
    width: 10%;
    height: 25px;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 12px;
    margin-bottom: 25px;
    margin-right: 15px;
    /* fle */
}

.right-down-2-2-2{
    background-color: black;
}

.right-down-3{
    display: flex;
    justify-content: end;
    height: 100px;
}

.right-down-3-1, .right-down-3-2{
    border: 1px solid lightgrey;
    background-color: lightgrey;
    height: 20%;
    width: 90px;
    height: 35px;
    margin-right: 20px;
    border-radius: 8px;
}

.right-down-3-2{
    background-color: black;
}